

header {
    background-color: #393e46;
    padding: 0px;
    border-radius: 50px;
}


.ourdesign {
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu {
    font-size: 230%;
    letter-spacing: 3px;
    list-style: none;
    text-align: center;
    background-color: #393e46;
    border-radius: 0 0 50px 50px;
    padding: 5px;
    text-indent: 50px;
}

#menu li {
    text-align: center;
    display: inline-block;
    background-color: #393e46;
    text-transform: uppercase;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    border: 7px;
    padding: 5px;
}

#menu a {
    color: inherit;
    margin: 0 0 0 0;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px;
    text-decoration: none;
}

#menu a:link,a:visited {
    border-radius: 10px 10px 10px 10px;
    padding: 0px 10px;
}

#menu a:hover {
    padding-bottom: 1px;
    color: #d0d0d0;
    box-shadow: 0 0 0 4px #d0d0d0;
}

body {
    padding: 0px;
    margin: 0;
}

#h1h {
    color: #9b9ea2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: bold;
    padding: 10px;
    width: 500px;
    border-radius: 50px;
    border: 10px solid rgba(155, 158, 162, .3);
    box-shadow: 4px 4px 4px 4px #d0d0d0;
}

#h2h {
    color: #9b9ea2;
    font-size: 200%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 0px;
}

#h2h ul {
    padding: 0;
    text-indent: 450px;
    margin-left: -800px;
}

#h2h li {
    display: inline-block;
}

#h2h a {
    margin: 0px;
    padding: 10px;
    flex: 1 1 0;
}

#textbox {
    display: flex;
}

#left-box {
    margin: 20px;
    padding: 0px 10px 10px 10px;
    flex: 1 1 0;
}

#center-box {
    margin: 20px;
    padding: 0px 10px 10px 10px;
    flex: 1 1 0;
}

#right-box {
    margin: 20px;
    padding: 0px 10px 10px 10px;
    flex: 1 1 0;
}

#h3h {
    color: #9b9ea2;
    font-family: 'Ubuntu', sans-serif;
    opacity: .2;
    font-size: 150%;
    font-weight: bold;
}

#h4h {
    color: #9b9ea2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

#p2 {
    color: #9b9ea2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

#s0 {
    margin-top: 50px;
}

/* Section pieces - border: solid 10px #9b9ea2; background-color: #f3f3f3; */
#s1 {
    margin-top: 0px;
    margin-bottom: 50px;
}

#p4 {
    color: #9b9ea2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: left;
    width: 500px;
    border-style: solid 5px #9b9ea2;
    border-radius: 8px;
    margin-left: 30px;
    padding: 0px;
    line-height: 50px;
    padding-right: 10px;
    float: center;
}

#s2 {
    margin-top: 150px;
}

.cavepaint {
    width: 25%;
    height: 25%;
    padding: 0px;
    border-radius: 50px;
    border: 10px solid rgba(155, 158, 162, .3);
    box-shadow: 4px 4px 4px 4px #d0d0d0;
    float: right;
    margin-right: 200px;
}